*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#navbar {
    background-color:red;
    color:aliceblue;
    border-radius:5px;
}

#navbar> ul{
    display:flex;
    flex-direction:row;
    list-style:none;  
}
#navbar> ul>li{
        margin:30px;
}
    #navbar > ul > li > a {
       text-decoration:none;
       color:aliceblue;
    }

form{
    border:1px solid red;
    border-radius:10px;
    text-align:left;
    margin:10%;
    margin-top:0;
    padding-top:20px;
    padding-bottom:20px;
    padding-left: 25%;
    background-color:red;
    color:aliceblue;
}
form>div{
    padding:10px;
}
h2{

    color:red;
}
#imgCollege{
    border-radius:10px;
    width:100%;
}